<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Erreur 404</title>

    <link rel="icon" href="/img/weather-app/weather-ico2.gif">

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    {{>header}}

    <main>
        <p id="err-404">404</p>
        <p id="message-404">{{message404}}</p>
    </main>

    {{>footer}}

</body>
</html>