<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Météo, à propos </title>

    <link rel="icon" href="/img/weather-app/weather-ico2.gif">

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    {{>header}}

    <main>
        <p>Ce site, basée sur NodeJS, utilise les api de mapbox.com et de openweathermap.org.</p>
        <p>Les images ont été créés par ma chère et tendre via une appli android</p>
    </main>

    {{>footer}}

</body>
</html>