<div id="forecast-daily" class="forecast-content">
  <p>Daily page</p>
</div>

{{!-- response.body.daily[0] = {
  dt: 1588503600,           ???
  sunrise: 1588479244,      yes
  sunset: 1588531692,          yes
  temp: {
    day: 12.22,         yes
    min: 10.72,         yes
    max: 12.22,      yes
    night: 10.72,      yes
    eve: 12.22,
    morn: 12.22
  },
  feels_like: { day: 11.16, night: 9.29, eve: 11.16, morn: 11.16 },   yes
  pressure: 1020,
  humidity: 82,      yes
  dew_point: 9.24,
  wind_speed: 1.29,      yes
  wind_deg: 191,      yes
  weather: [ { id: 804, main: 'Clouds', description: 'couvert', icon: '04n' } ],      yes
  clouds: 94,      yes
  uvi: 7.05
} --}}