<header {{#if weatherSearch}}class="weather-form-included"{{/if}}>

    <div>
        <h1>{{title}}</h1>

        <nav>
            <a href="/">Météo</a>
            <a href="/about">A propos</a>
            <a href="/help">Aide</a>
        </nav>
    </div>

    {{#if weatherSearch}}
        {{>weatherForm}}
    {{/if}}
    
</header>