<div id="weather-current">

</div>


response.body.current = {
  dt: 1588540144,       yes/no
  sunrise: 1588479244,  yes
  sunset: 1588531692,   yes
  temp: 12.22,          yes
  feels_like: 11.75,    yes
  pressure: 1020,
  humidity: 82,         yes
  dew_point: 9.24,      
  uvi: 7.05,
  clouds: 94,           yes (%)
  wind_speed: 0.45,     yes (m/s)
  wind_deg: 248,        yes (°)
  wind_gust: 2.68,
  weather: [ { id: 804, main: 'Clouds', description: 'couvert', icon: '04n' } ]  yes 
}


