<div id="weather-current">

</div>

{{!-- 
response.body.current = {
  dt: 1588540144,
  sunrise: 1588479244,
  sunset: 1588531692,
  temp: 12.22,
  feels_like: 11.75,
  pressure: 1020,
  humidity: 82,
  dew_point: 9.24,
  uvi: 7.05,
  clouds: 94,
  wind_speed: 0.45,
  wind_deg: 248,
  wind_gust: 2.68,
  weather: [ { id: 804, main: 'Clouds', description: 'couvert', icon: '04n' } ]
}
 --}}

