<div id="weather-search">
    <p>Utilise ce champ pour avoir ta météo.</p>
    <form id="weather-form">
        <input id="weather-input" type="text" placeholder="Lieu">
        <button type="submit">Search</button>
    </form>
</div>