<div id="weather">

    {{>weatherHeader}}

    <div id="weather-content">
        
        {{>weatherCurrent}}
    {{!-- 
        {{>weatherHourly}}

        {{>weatherDaily}} --}}
    </div>

</div>