<h2>{{location}}</h2>

<div id="weather-nav">
    <div class="weather-nav-item">Actuel</div>
    <div class="weather-nav-item">Horaire 2 jours</div>
    <div class="weather-nav-item">Journalière 2 semaines</div>
</div>