/* mixins */
/* ############## Fonts ############## */
@font-face {
  font-family: 'galyon';
  src: url("/fonts/Galyon-Regular.otf");
}

@font-face {
  font-family: 'galyon-italic';
  src: url("/fonts/Galyon-Italic.otf");
}

@font-face {
  font-family: 'galyon-bold';
  src: url("/fonts/Galyon-Bold.otf");
}

/* base */
/*  - importing  vars */
/* - code */
:root {
  --color-viok: #FF8800;
  --color-main: #333333;
  --color-primary: #ff6600;
  --color-places-background: #f9f9f9;
  --color-places-color: #0a0a0a;
  --color-places-border: #cacaca;
  --color-places-hover-border: #555555;
  --color-places-chosen-background: #333333;
  --color-places-chosen-color: #cccccc;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  min-height: 100vh;
  font-family: 'galyon';
  color: var(--color-main);
}

@media screen and (min-width: 576px) {
  body {
    color: var(--color-viok);
  }
}

header {
  margin-top: 16px;
  margin-bottom: 24px;
}

@media screen and (min-width: 576px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  header {
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  header {
    margin-top: 22px;
    margin-bottom: 48px;
  }
}

header h1 {
  text-align: center;
  font-family: 'galyon-bold';
  font-size: 3rem;
}

@media screen and (min-width: 576px) {
  header h1 {
    margin-bottom: 16px;
  }
}

header nav {
  text-align: center;
}

header nav a {
  color: #888888;
  margin-right: 16px;
  text-decoration: none;
}

header #weather-search {
  text-align: center;
  margin-top: 16px;
}

@media screen and (min-width: 576px) {
  header #weather-search {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

header #weather-search input {
  border: 1px solid #cccccc;
  margin-top: 12px;
  padding: 8px;
}

header #weather-search button {
  cursor: pointer;
  background-color: #888888;
  border: 1px solid #888888;
  color: white;
  padding: 8px;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

main #weather-section {
  text-align: center;
}

footer {
  color: #888888;
  border-top: 1px solid #eeeeee;
  margin-top: 16px;
  padding: 16px 16px;
}

/* When user have to choose a location */
#weather-places-div p {
  font-size: 22px;
  margin-bottom: 20px;
  text-align: center;
}

#weather-places-div #weather-places {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#weather-places-div #weather-places div {
  margin-bottom: 16px;
  padding: 16px;
  background-color: var(--color-places-background);
  color: var(--color-places-color);
  border: 1px solid var(--color-places-border);
  cursor: pointer;
}

#weather-places-div #weather-places div:hover {
  border-color: var(--color-places-hover-border);
}

#weather-places-div #weather-places div.chosen {
  background-color: var(--color-places-chosen-background);
  color: var(--color-places-chosen-color);
}

/* weather forecast */
#forecast {
  width: 90%;
  margin: 0 auto;
  border: 1px solid var(--color-places-border);
  padding: 16px 0 0 0;
}

#forecast h2 {
  font-family: 'galyon-bold';
  color: var(--color-primary);
  text-align: center;
}

#forecast #forecast-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 16px 0;
}

#forecast #forecast-nav .forecast-nav-item {
  width: 25%;
  height: 33px;
  line-height: 30px;
  background-color: transparent;
  border: 2px solid var(--color-places-border);
  border-radius: 50%;
}

#forecast #forecast-nav .forecast-nav-item.active-forecast {
  color: var(--color-primary);
}

#forecast #forecast-nav .forecast-nav-item:hover {
  border-color: var(--color-primary);
}

#forecast #forecast-nav .forecast-nav-item:active {
  background-color: var(--color-primary);
  color: white;
  border-color: var(--color-places-border);
}

.arrow {
  background-image: url("../img/weather-app/weather-arrow.svg");
  background-size: cover;
}

/* current */
#forecast-current {
  display: none;
}

#forecast-current.active-forecast {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#current-date-time .date {
  display: inline-block;
  font-weight: 800;
  font-size: 1.6rem;
  margin-right: 16px;
}

#current-date-time .time {
  display: inline-block;
  font-size: 1.3rem;
}

#current-temp .temp {
  display: inline-block;
  font-size: 5rem;
}

#current-temp .feels-like {
  display: inline-block;
}

.current-picture {
  width: 100%;
}

#current-wind {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#current-wind .arrow {
  width: 20px;
  height: 20px;
}

#forecast-hourly {
  display: none;
}

#forecast-hourly.active-forecast {
  display: block;
}

#forecast-daily {
  display: none;
}

#forecast-daily.active-forecast {
  display: block;
}
/*# sourceMappingURL=style.css.map */