// variables scss
$color-viok: #FF8800;
$color-main: #333333;
$color-green: rgb(38, 255, 0);


// weather-places-choice.scss colors
$color-places-background: #f9f9f9;
$color-places-color: #0a0a0a;
$color-places-border: #cacaca;
$color-places-hover-border: #555555;
$color-places-chosen-background: #333333;
$color-places-chosen-color: #cccccc;